<launch>
    <node pkg="distance_sensor" type="distance_node" name="front_distance_node">
        <param name="topic" value="front_distance" type="str"/>
        <param name="trig" value="6" type="int"/>
        <param name="echo" value="5" type="int"/>
    </node>
    <node pkg="distance_sensor" type="distance_node" name="arm_distance_node">
        <param name="topic" value="arm_distance" type="str"/>
        <param name="trig" value="19" type="int"/>
        <param name="echo" value="13" type="int"/>
    </node>
    <node pkg="distance_sensor" type="distance_node" name="left_distance_node">
        <param name="topic" value="left_distance" type="str"/>
        <param name="trig" value="11" type="int"/>
        <param name="echo" value="9" type="int"/>
    </node>
    <node pkg="distance_sensor" type="distance_node" name="right_distance_node">
        <param name="topic" value="right_distance" type="str"/>
        <param name="trig" value="24" type="int"/>
        <param name="echo" value="23" type="int"/>
    </node>
    <node pkg="distance_sensor" type="distance_node" name="back_distance_node">
        <param name="topic" value="back_distance" type="str"/>
        <param name="trig" value="8" type="int"/>
        <param name="echo" value="25" type="int"/>
    </node>
</launch>