<launch>
    <include file="$(find robot_launch)/params.launch"/>
    <include file="$(find joy)/launch/joy.launch"/>
    <include file="$(find drive_control)/launch/drive_control.launch"/>
    <include file="$(find robot_control)/launch/robot_control.launch"/>
    <include file="$(find tasks)/launch/tasks.launch"/>
    <include file="$(find distance_sensor)/launch/distance_sensors.launch"/>
    <include file="$(find mpu6050_dmp_ros)/launch/mpu6050.launch"/>
</launch> 