<launch>
    <group ns="pins">
        <group ns="pwm">
            <param name="left" value="22" type="int"/>
            <param name="right" value="17" type="int"/>
        </group>
        <group ns="dir">
            <param name="left" value="10" type="int"/>
            <param name="right" value="27" type="int"/>
        </group>
        <group ns="encoder">
            <group ns="left">
                <param name="A" value="20" type="int"/>
                <param name="B" value="21" type="int"/>
            </group>
            <group ns="right">
                <param name="A" value="16" type="int"/>
                <param name="B" value="26" type="int"/>
            </group>
        </group>
        <group ns="dist">
            <group ns="front">
                <param name="trig" value="6" type="int"/>
                <param name="echo" value="5" type="int"/>
            </group>
        </group>
    </group>

    <group ns="topics">
        <param name="joy" value="/joy"/>
        <param name="task" value="/current_task"/>
        <param name="drive_in" value="/command_to_drive"/>
        <param name="drive_out" value="/output_from_drive"/>
        <param name="arm_in" value="/command_to_arm"/>
        <param name="arm_out" value="/output_from_arm"/>
        <param name="enc_l" value="/lwheel"/>
        <param name="enc_r" value="/rwheel"/>
        <param name="dist_f" value="/front_distance_sensor"/>
        <param name="is_on" value="/is_this_on"/>
        <param name="cam" value="/output_from_camera"/>
    </group>
</launch>