<launch>
    <!-- <include file="$(find robot_launch)/params.launch"/> -->
    <include file="$(find robot_launch)/params.launch"/>
    <include file="$(find robot_control)/launch/robot_control.launch"/>
    <include file="$(find joy)/launch/joy.launch"/>
    <include file="$(find drive_control)/launch/drive_test.launch"/>
</launch> 